/* GENERAL */
/* ONE PAGE */
#onepage{
    font-family : "Marker Felt", "arial";

}
/* BODY */
html{
  margin-left : -10px;
  width : 800px;
  margin-top : -10px;
}
body{
    width : 800px;
  
}
/* EFFET DE LIEN */
a:link{
    text-decoration : none;
    color : white;
    
}
a:visited{
color:white;
}
a:hover {
    color : #fe5632 ;
}
/* HEADER */
header{
       position : absolute;
        top :10%;
        width :1350px;
        height : 90px;
        background-color : rgba( 174, 174, 174 , 0.2);
        
        display :flex;
        justify-content : space-between;
        color : white;
        font-size : 24px;
        float : left;
    }
header img {
        width :90px;
        height : 90px;
        opacity :0.9;
        
    }
#logo {
        padding-left : 100px;
        
    }

nav {
        display :flex;
        justify-content : space-around;
        
        width : 70%;
        line-height : 90px;
        /* TOAST */
       /* background-color : red;*/
       
    }

    /*PREMIER BLOC */
/*ACCUEIL */
#accueil {
   
background: url(../images/computer-336628.jpg) center ; 
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

 margin-top : 0px;
display : flex;
flex-direction : column;
justify-content : center;
/* DIMENSIONS */
height : 900px;
width : 1350px;

}

#nom {
    width : 300px;
    height : 100px;
   
    
    margin-left :auto;
    margin-right : auto;
    
   
    
    /* TOAST */
   /* background-color : blue;*/
}
#nom h1 {
    font-size : 29px;
    color : white;
    
    text-align : center;
   
}
#titre{
   
 /* background-color : yellow;*/
  width : 300px;
  height : 200px;
  margin-left :auto;
  margin-right : auto;

  
 
}
#titre h1{
    font-size : 50px;
    color : white;
    text-align : center;
}

#button1 {
    position : relative;
    bottom : 30%;
    left : 75%;
    width : 180px;
    height : 40px;
    background-color : grey;
    border-radius: 45px/15px;
    border : solid;
  
}
#button1 span{
    position : relative;
    margin-left : auto;
    margin-right : auto;

}
/* DEUXIEME BLOC */
/* PRESENTATION */
#presentation {
    width : 1350px;
    height : 900px;
    margin-top : 0px;
    margin-left : 0px;
/* FLEXBOX */
display : flex;
flex-direction : column;

background-color: rgb(  95, 100, 100
);
}
#presentationtop1{
display : flex;
}
#competences{
    display:flex;
    justify-content : space-around;
}

#back{
    display : flex;
    flex-direction : column;
}
#front{
    display : flex;
    flex-direction : column;
}
/*LOGO LANGAGES */
#logophp{
    width : 120px;
    height : 80px;

}
#logoMySQL{
    width :100px;
    height:120px;
    background-color : currentColor;
}
#logohtml5{
    width : 70px;
    height : 70px;
}
#logocss3{
    width : 70px;
    height : 70px;
}
#logojs{
    width : 70px;
    height : 70px;
}
#logowordpress {
    width : 120px;
    height : 120px;
}
/*TROISIEME BLOC */
/* DECOUVRIR */
#decouvrir {
width : 1350px;
height : 900px;


}
/* FOOTER */
footer{
    display : flex;
}

footer img {
    width : 60px;
    height : 60px;
}


@media screen and (max-width: 600px)
{
    body{
        width : 600px;
    }
    #accueil{
        width : 600px;
    }

    
    header{
        position : absolute;
         top :10%;
         width :600px;
         height : 90px;
         background-color : rgba( 174, 174, 174 , 0.2);
         
         display :flex;
         justify-content : flex-start;
         color : white;
         font-size : 9px;
         float : left;
     }
 header img {
         width :0px;
         height : 0px;
         
         
     }
 #logo {
         
         display:none; 
        /* Cache le div : l'espace qu'il occupe en étant affiché est conservé */
       /* visibility:hidden; */
     }
 
 nav {
         display :flex;
         justify-content : space-between;
         width : 600px;
         /*width : 70%;*/
         line-height : 90px;
         /* TOAST */
        /* background-color : red;*/
        
     }


}
/*
@media screen and (max-width: 1350px)
{
    #accueil{
        width : 1350px;
    }
    header {
        width : 1350px;
    }

    header img{
        width : 80px;
        height : 80px;
    }
}

@media screen and (max-width: 1900px)
{
    #accueil{
        width : 1900px;
    }
    header {
        width : 1900px;
    }

    header img{
        width : 80px;
        height : 80px;
    }
}
*/