{% extends 'baseOnePage.html.twig' %}


{% block body %}

    <div id="onepage">
  <!-- ~~~~~~~~~~~~ -->
    <!-- PAGE ACCUEIL-->
    <!-- ~~~~~~~~~~~~ -->
    <section class="grandediv white" style="background-image: url(images/computer-336628.jpg);" id="accueil" data-stellar-background-ratio="0.5">
        <div class="container" id="accueil">
            <div class="row intro-text align-items-center justify-content-center">
              <div class="col-md-10 text-center">
                <h1 class="site-heading site-animate font-weight-bold" style="color : white"><strong>Damien <br> developpeur back-end </strong><br></h1>
               

              <!--   <p><a href="#section-about" class="smoothscroll btn btn-primary px-4 py-3" style="background-color : grey">A propos de moi</a></p> -->
            
              
              </div>
            </div>
          </div>
    
    </section>

    <!-- ~~~~~~~~~~~~ -->
    <!-- A PROPOS-->
    <!-- ~~~~~~~~~~~~ -->
  <section class="d-flex justify-content-center align-items-center  text-center" id="apropos" style="margin-top:60px" >
  
  <div class="col-5 d-flex justify-content-end">
    <img src="public/images/13686559_10209055411596232_1292495818819601662_n.jpg" class="img-thumbnail" alt="Cinque Terre"> 
  </div>
  <div class="col-7">
    <h1 class="font-italic font-weight-bolder">A propos de moi</h1>
    <p class="">Developpeur web en cours de formation au centre de st-jean de-vedas.<br>
       Je travaille avec les langages javascript, html/css et php.<br>
       Je suis également spécialiste des thèmes nintendo, je sauré agrémenter vos sites web <br>
       de pokémon et autre personnages de rétro-gamming.
      </p>
      <p>Titulaire du permis B, anglais intermédiaire</p>
  </div>
  <hr>
  </section>

  <!-- ~~~~~~~~~~~~ -->
  <!-- FORMATION-->
  <!-- ~~~~~~~~~~~~ -->
  <section id="formation" class="text-center desc" style="margin-top:60px">
   
 
    <div class="container desc">
      <div>
        <h1 class="font-italic font-weight-bolder"> <u>Formation</u></h1>
      </div>
      <div class="row d-flex">

     
        <div class="col-lg-6">
          <p>
            <t class="font-weight-bold" style="color : #57d131">Titre pro bac+2 Developpeur web et web mobile</t><br/> AFPA - Montpellier <br/>
            <i></i>
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <sm>Avril 2020 => janvier 2021</sm><br/>
            <imp>
              <button type="button" class="btn btn-success">En cours</button>
            </imp>
          </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <p>
            <t class="font-weight-bold" style="color : #57d131">Auto-formation en co-working</t><br/> NOUAS - Montpellier <br/>
            <i></i>
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <sm>Decembre 2019 = > Avril 2020</sm>
          </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <p>
            <t class="font-weight-bold" style="color : #57d131">Diplôme d'initiateur d'échecs</t><br/> Fédération française des échecs <br/>
            
            <i></i>
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <sm>2016</sm><br>
            <imp>
              <button type="button" class="btn btn-success">Diplômé</button>
            </imp>
          </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <p>
            <t class="font-weight-bold" style="color : #57d131">Deug psychologie (niveau)</t><br/> Université Montpellier 3 <br/>
            <i></i>
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <sm>2011 => 2013</sm><br/>
            
          </p>
        </div>

        <div class="col-lg-6 col-lg-offset-3">
          <p>
            <t class="font-weight-bold" style="color : #57d131">Bac scientifique </t><br/> Lycée Paul-valéry <br/>
            <i></i>
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            <sm>2011</sm><br/>
            <imp>
              <button type="button" class="btn btn-success">Diplômé</button>
            </imp>
          </p>
        </div>

      </div>
    
      <br>
      <hr>
    </div>
  
  </section>

<!-- ~~~~~~~~~~~~ -->
  <!-- EXPERIENCE -->
  <!-- ~~~~~~~~~~~~ -->
  <div class="container desc text-center" id="experience">
    
      <h1 class="text-center font-italic font-weight-bolder"><u>Experience</u></h1>
    
    <div class="row d-flex">

     
      <div class="col-lg-6">
        <p>
          <t class="font-weight-bold" style="color:#57d131">Front-end Developpeur</t><br/> Ethicode <br/>
        </p>
        <p>
          <more class="text-muted">Création du site web d'Ethicode sur wordpress, sous la direction de ses fondateurs.
            Cette association à pour mission d'organiser des ateliers de préventions aux escroqueries sur internet et de créer un réseau d'entraide pour développeurs.</more>
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          <sm>Mars - 2020</sm>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <p>
          <t class="font-weight-bold" style="color:#57d131">Formateur en numérique enfant et ado (stage)</t><br/> ECDC - Montpellier <br/>
        </p>
        <p>
          <more class="text-muted">Photoshop, base de la programmation sur scratch, game
            design, enseignement aux jeunes</more>
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          <sm>Novembre 2019</sm>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <p>
          <t class="font-weight-bold" style="color:#57d131">Assistant administrateur réseau et maintenance (stage)</t><br/> Service informatique GRETA Montpellier <br/>
        </p>
        <p>
          <more class="text-muted">Réseau, diagnostique, installation matériel et logiciel</more>
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          <sm>Octobre 2019</sm>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <p>
          <t class="font-weight-bold" style="color:#57d131">Secrétaire polyvalent</t><br/> Centre nautique Manuréva <br/>
        </p>
        <p>
          <more class="text-muted">Suivi et gestion des dossiers, accueil physique et téléphonique
            de la clientèle, encaissement paiement</more>
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          <sm>2016</sm>
        </p>
      </div>

      <div class="col-lg-6 col-lg-offset-3">
        <p>
          <t class="font-weight-bold" style="color:#57d131">Employé service animation et logistique</t><br/> Mairie de Balaruc les bains <br/>
        </p>
        <p>
          <more class="text-muted">Organisation des festivités, transport matériel</more>
        </p>
      </div>
      <div class="col-lg-6">
        <p>
          <sm>2015</sm>
        </p>
      </div>

    </div>
  
    <br>
    <hr>
  </div>

  <!-- ~~~~~~~~~~~~ -->
    <!-- COMPETENCE -->
  <!-- ~~~~~~~~~~~~ -->
  <section id="competence" class="container">
    <h1 class="text-center font-italic font-weight-bolder"> <u>Competences</u></h1>
    <div class="langage">
        <h2 class="text-left">Langages</h2>
        <div class="col-6">
            <div class="text-left">HTML5</div>
            <div class="progress">
              <div class="progress-bar" style="width:70%">70%</div>
            </div>
     
        </div>

        <div class="col-6">
          <div class="text-left">CSS3</div>
          <div class="progress">
            <div class="progress-bar" style="width:70%">70%</div>
          </div>
   
      </div>

      <div class="col-6">
        <div class="text-left">Javascript</div>
        <div class="progress">
          <div class="progress-bar" style="width:50%">50%</div>
        </div>
 
    </div>

    <div class="col-6">
      <div class="text-left">PHP</div>
      <div class="progress">
        <div class="progress-bar" style="width:60%">60%</div>
      </div>

  </div>
       
  <div class="col-6">
    <div class="text-left">MySQL</div>
    <div class="progress">
      <div class="progress-bar" style="width:60%">60%</div>
    </div>

</div>

      </div> 

      <div class="outils" style="margin-top : 100px">
        <h2 class="text-left">Outils de développeur</h2>
        <div class="col-6">
            <div class="text-left">GIT/GITHUB</div>
            <div class="progress">
              <div class="progress-bar" style="width:30%">30%</div>
            </div>
     
        </div>
        <div class="col-6">
          <div class="text-left">Visual studio code</div>
          <div class="progress">
            <div class="progress-bar" style="width:40%">40%</div>
          </div>
   
      </div>
   
   
      </div>
     
      <div class="cms" style="margin-top : 100px">
        <h2 class="text-left">CMS</h2>
        <div class="col-6">
            <div class="text-left">Wordpress</div>
            <div class="progress">
              <div class="progress-bar" style="width:70%">70%</div>
            </div>
     
        </div>

   
   
      </div>

      <div class="framework" style="margin-top : 100px">
        <h2 class="text-left">Framework</h2>
        <div class="col-6">
            <div class="text-left">Bootstrap / divers framework css</div>
            <div class="progress">
              <div class="progress-bar" style="width:70%">70%</div>
            </div>
     
        </div>

   
   
      </div>

      <div class="maquette" style="margin-top : 100px">
        <h2 class="text-left">Maquette et mockup</h2>
        <div class="col-6">
            <div class="text-left">Balsamiq</div>
            <div class="progress">
              <div class="progress-bar" style="width:70%">70%</div>
            </div>
     
        </div>

   
   
      </div>

      <hr>
  </section>
<section id="decouvrir">

</section>


    </div>

{% endblock %}