{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{{ form_start(formRegister) }}
      

      <div id="formulaireI" class="marginTop text-center" >
      <div class="h1center inscriptionTitle">	
      <h1>Inscription</h1>
        </div>
		  {{ form_widget(formRegister) }}
         
      
                      
           <button type="submit" class="buttonvalider"> Inscription! </button>
		   <div class="box">
        <a >
            <span></span>
            <span></span>
            <span></span>
            <span></span> test
        </a>
    </div>
      </div> 
    
  
      


      {{ form_end(formRegister) }}

      {% endblock %}
