{% extends 'base.html.twig' %}

{% block title %}{% endblock %}




{% block body %}
<h1>Connexion </h1>

<form action="{{ path('login')}}" method="POST"> 
    <label>Votre pseudo</label>
    <input type="text" required name="_username">
					  <br>
	<label>Votre mot de passe</label>
    <input type="password" name="_password">
					  <br>
    <button type="submit"> Connexion !</button>



</form>


{% endblock %}
